<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script defer th:src="@{/js/functions.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }

        input:read-only {
            background: lightgray;
        }
    </style>
</head>
<body>
<h3>Books:</h3>

<table class="books" id="book-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Style</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<form id="edit-form">
    <h3>Form for creating/updating book</h3>

    <div class="row">
        <label for="book-id-input">ID:</label>
        <input class="form-control" id="book-id-input" type="text" name="book-id-input" readonly="readonly" />
    </div>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input class="form-control" id="book-name-input" name="name" type="text" value=""/>
    </div>

    <div class="row">
        <label for="book-authors">Author:</label>
        <select class="form-control" id="book-authors">
        </select>
    </div>

    <div class="row">
        <label for="book-styles">Style:</label>
        <select class="form-control" id="book-styles">
        </select>
    </div>

    <div class="row">
        <button type="submit" id="create-book-btn">Create</button>
        <button type="button" id="update-book-btn"disabled>Update</button></a>
        <button type="button" id="cancel-btn">Cancel</button></a>
    </div>
</form>

</body>
</html>