<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Books edition -->
<form id="edit-form" action="edit_create_book.html"
      th:method="post"
      th:action="${book.id != null} ? @{/books/edit(id=${book.id})} : @{/books/create}"
      th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input class="form-control" id="book-name-input" name="name" type="text" value="Евгений Онегин" th:value="*{name}"/>
    </div>

    <div class="row">
        <label for="book-authors">Style:</label>
        <select class="form-control" id="book-authors" th:field="*{author.name}">
            <option th:each="author : ${authors}"
                    th:value="${author}"
                    th:text="${author.name}"
                    th:selected="${author.id == book.author.id}">
            </option>
        </select>
    </div>

    <div class="row">
        <label for="book-styles">Style:</label>
        <select class="form-control" id="book-styles" th:field="*{style.name}">
            <option th:each="style : ${styles}"
                    th:value="${style}"
                    th:text="${style.name}"
                    th:selected="${style.id == book.style.id}">
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="listBooks.html" th:href="@{/books}"><button type="button">Cancel</button></a>
    </div>
</form>
<p><a href="/logout">Logout</a></p>
</body>
</html>
